.Container{
    padding: 2cm;
}
.Contacts{
    display: flex;
    gap: 30cm;
}
.dashboard{
    display: flex;
    gap: 2cm;
    margin-left: 8cm;
}

#home{
    color: orange;
}
.movers{
    background-image: url(IMAGES/1-1-1.webp);
    width: 100%;
    height:25cm;

}

.fa-solid{
    color: #4975c1;
    margin-left: 1cm;
}
#data{
margin-left: 20cm;

}
h1{
    text-align: center;
    font-size: 100px;
    margin-top: 1cm;
    
}
#smooth-moving{
    text-align: center;
    font-size: 30px;
    
}
#get-started{
    background-color: orange;
    color: white;
    border: none;
    width: 5cm;
    height: 2cm;
    border-radius: 7px;
    margin-left: 8cm;
    
}
.family{
    margin-left: 3cm;
    top: 10cm;
    position: absolute;
    left: 10cm;
}

#household{
    width:18cm;
    height:15cm ;
}
.Riaad{
    display: flex;
    margin-top: 3cm;
    gap: 3cm;

}
#learn{
    color: orange;
}
#since{
    color: orange;
}
.Easy{
    display: flex;
    gap: 3cm;
    margin-top: 3cm;
}
.Easy-left{
    margin-top: 1cm;
}
.Logos{
    display: flex;
    gap: 3cm;
    margin-top: 5cm;
}
#logo-ip{
width:5cm ;
height: 2cm;
margin-top: 0.3cm;
}
#ipsum-logo{
width: 5cm;
height: 2cm;
margin-top: 0.3cm;
}
#log-ipsum{
    width: 5cm;
    height: 1.2cm;
    margin-top: 0.8cm;
}
#logo-vs-ipsum{
    width: 5cm;
    height: 3cm;
}
#logo-circle{
    width: 5cm;
    height: 3cm;
}
.our-services{
    text-align: center;
    margin-top: 3cm;
}
#services{
    color: orange;
}
.phases{
    display: flex;
    gap: 5cm;
    margin-top: 2cm;
    margin-left: 3cm;
}
#packing-phase{
width: 3cm;
height: 3cm;
}
#storage-phase{
    width: 3cm;
    height: 3cm;
    background-color: white;
    border-radius: 60px;
    margin-top: 1cm;
}
#transport-phase{
    width: 3cm;
    height: 3cm;
}
#insurance-phase{
    width: 3cm;
    height: 3cm;
}
#amet{
margin-left:0.2cm;
}
#store{
    margin-left: 1cm;
}
#read-free{
    color: orange;
}
.Storage{
    background-color: blue;
    width: 5cm;
    color: white;
    padding: 2cm;

}
#read-simple{
    color: white;
    margin-left: 0.2cm;
}
#read-lorem{
    color: orange;
}   
#read-tris{
    color: orange;
}
.help{
    display: flex;
    gap: 5cm;
    margin-top: 5cm;
   
}
h2{
    font-size: 40px;
}
#click{
    margin-left: 5cm;
    margin-top: 1.3cm;
 
}
#work{
    color: #e0e6ec;
    background-color: orange;
    width: 2cm;
    height:1cm;
    text-align: center;
    padding-top: 0.5cm;
    border-radius: 30cm;
    position: absolute;
    top: 3400px;
    left: 38cm;
   
}
#why{
    color: orange;
}
#book{
    color: orange;
}

#save{
    color: orange;
}

#business-left{
    background-color: blue;
    width: 12cm;
    height: 18cm;
   
}
.business{
    display: flex;
    gap: 10cm;
    margin-top: 4cm;
}
#start{
    background-color: white;
    width: 8cm;
    height: 4cm;
    position: absolute;
    margin-top: 1cm;
    margin-left: 1cm;
}
#verify{
    color: orange;
    margin-left: 0.5cm;
}
#trust{
    margin-left: 0.5cm;
}
#choose{
    width:10cm ;
    height: 12cm; 
}
#help-services{
    margin-left: 10cm;
    margin-top: 2cm;
    font-size: 20px;
   opacity: 60%;
}

#questions{
    color: white;
    margin-left: 2cm;
}
.request{
   margin-top: 6cm;

}
#free{
    width:100% ;
    height:20cm;
}
.booking{
 
  display: flex;
    
}
.details{
    margin-left: 1cm;
    margin-top: 1cm;
    display: flex;
    gap: 1cm;
}

.free-quote{
    background-color: orange;
    width: 50%;
    height: 10cm;
}
#now{
    color: white;
   margin-left: 2.5cm;
   
  
}
#quote{
    color: white;
   margin-left: 2.5cm;
}
#send-button{
    background-color:orange;
    border: none;
    color: white;
    width: 5.2cm;
    height: 1.2cm;
}
#testimony{
    color: orange;
}
.say{
    margin-top: 2cm;
    text-align: center;
}
.impression{
    display: flex;
    gap: 5cm;
}
#rose{
    width: 2cm;
    height:2cm ;
    border-radius: 50px;
}
#christine{
    color: orange;
}
.newsletter{
    margin-top: 4cm;
    text-align: center;
}
#news{
    color: orange;
}
#subscribe{
    background-color: orange;
    border: none;
    color: white;
    width: 5cm;
    height: 1.5cm;
   
}
#blog{
    color: orange;
}
.articles{
    text-align: center;
    margin-top: 4cm;
}
.significance{
    display: flex;
    gap: 2cm;
}
#packing{
    width: 12cm;
    height: 12cm;
}
.choices{
    position: absolute;
   top: 7200px;   
}

#admin{
    width: 12cm;
    height: 12cm;
}
#comment{
margin-left: 1cm;
font-weight: bolder;
font-size: 30px;
}
#entertainment{
   margin-left: 1cm;
   font-weight: bolder;
   font-size: 30px;
}
#babyboomer{
    width: 12cm;
    height: 12cm;  
}
#discover{
    background-color: black;
    width: 4.5cm;
    height: 1.5cm;
    border: none;
    color: white;
    margin-top: 1cm;
}
.more{
    display: flex;
    gap: 6cm;
    background-color: orange;
    height: 6cm;
    width: 100%;
}
#over{
    color: white;
    margin-top: 1cm;
   
}
.footer ul{
    list-style-type: none;
}
.footer{
    display: flex;
    gap: 3cm;
    background-color: black;
    color: white;
    width: 100%;
    height: 10cm;
   
}
.fa-twitter{
    color: #d19410;
    margin-left: 0.5cm;
}
.fa-facebook-f{
    color:white;
    margin-left: 0.5cm;
}
.fa-linkedin-in{
    color:white; 
    margin-left: 0.5cm;
}
#use{
    margin-left: 0.5cm;
}
.copyright{
  background-color: black; 
  width: 100%; 
  height: 2cm;
  padding-top: 1cm;
}
#right{
    color: white;
    margin-left: 15cm;
}
.address{
    margin-top: 1cm;
}
.media{
    margin-top: 2cm;
}
.email{
    display: flex;
    gap: 5cm;
    margin-left: 15cm;
}
#impress{
    background-color: blue;
    color: white;
    width: 1cm;
    height: 1cm;
    border-radius: 100px;
    text-align: center;
    padding-top: 0.3cm;
}
#contact-us{
   color: white;
   background-color: orange;
   width:3cm;
   height:2cm ;
   padding-top: 1cm;
   text-align: center;
   border-radius: 50cm;
   position: absolute;
   top: 5000px;
   left: 20cm;
    
}
.moving-infor{
    width: 50%;
    height: 10cm;
    background-color: blue;
}
#explore{
    color: rgb(228, 166, 52);
}
#legal{
    color: rgb(228, 166, 52);
}
#inputs{
    width: 5cm;
    height: 1cm;
   
}
